/* @title yellow point */
* {
    mark: symbol(circle);
    mark-size: 16px;
    mark: url(online-course.png);
    mark-mime: "image/png";
    :mark {
      fill: red;
      stroke: black;
      stroke-width: 20px;
    }
}