/* @title yellow point */
* {
    mark: symbol(circle);
    mark-size: 20px;
    mark: url(closed-mail-envelope.png);
    mark-mime: "image/png";
    fill: #499ce7;
    :mark {
      fill: red;
      stroke: black;
      stroke-width: 20px;
    }
}