/* @title yellow point */
* {
    mark: symbol(circle);
    mark-size: 20px;
    mark: url(capitol-building.png);
    mark-mime: "image/png";
    :mark {
      fill: red;
      stroke: pink;
      stroke-width: 20px;
    }
}