/* @title gold point */
* {
  mark: symbol('circle'), symbol('cross');
  :nth-mark(1) {
    size: 20px;
    fill: #e3b0b1;
    stroke: #e3b0b1;
    fill-opacity:1;
    stroke-opacity:1;
  };
  :nth-mark(2) {
    size: 12px;
    fill: white;
  }
}